@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  transition: 0.3s;
}
::-webkit-scrollbar
{
  width: 8px;
  background-color: rgb(255, 174, 0);
}

::-webkit-scrollbar-thumb
{
  background-color: rgb(255, 0, 85);
  height: 10px;
}

.App
{
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  padding: 10px;
}



.App .container
{
   height: 50vh;
   width: 70vw;
   margin: auto;
   margin-top: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 0.5px solid rgb(212, 212, 212);
   border-radius: 50px;
}
.container-a{
    max-width: 1400px;
    width: 100%;
    margin: auto;
}
.navbar
{
    box-shadow: 0px 5px 15px 0px #aaa;
    position: fixed;
    width: 99%;
    height: 60px;
    background: #fff;
    color: #000;
    opacity: 0.85;
    z-index: 999;
}

.navbar-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  background-color: transparent;
}

.logo p
{
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #444;
  margin-top: 5px;
}

.navbar button
{
  outline: none;
  border: none;
  padding: 8px;
  background-color: #117964;
  border-radius: 20px;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  margin-top: 0px;

}

.navbar button:hover{
  color: #117964;
  background-color: #fff;
  border: 2px solid #117964;
}

.usergrid
{
  min-height: 0vh;
  width: 90%;
  margin: auto;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.usergrid .content
{
   padding: 10px;
   height: 50vh;
   width: calc(100% / 4);
   backdrop-filter: blur(20px);
   margin: 10px;
   display: flex;
   justify-content: center;
   background-color: rgba(255, 255, 255, 0.185);
   border: 1px solid rgba(255, 255, 255, 0.212);
}

.userdata
{
  margin-top: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.loader
{
  height:300px;
  width: 300px;
  margin: auto;
  margin-top: 100px;
  backdrop-filter: blur(65px);
  background-color: rgba(255, 255, 255, 0.164);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: animate 1s linear infinite;
}

@keyframes animate {
  0%
  {
    transform: rotateY(0deg)
  }
  100%
  {
    transform: rotateY(360deg)
  }
}


.loader .bar
{
  height:250px;
  width: 250px;
  background-color: rgba(218, 218, 218, 0.445);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader .bar p
{
   color: #fff;
   font-size: 32px;
   font-weight: bold;
}

.card-container{
  width: 300px;
  height: 340px;
  background: #FFF;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-shadow: 0px 1px 15px 0.3px #aaa;
  overflow: hidden;
  display: inline-block;
  }

.upper-container{
  height: 130px;
  background: #FF6600;
  }
  
.image-container{
  background: white;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding: 5px;
  transform: translate(90px,80px);
  }
  
.image-container img{
  width: 90px;
  height: 90px;
  border-radius: 50%;
  }
  
.lower-container{
  z-index: 12;
  margin-top: 220px;
  height: 90px;
  background: #FFF;
  padding: 20px;
  padding-top: 20px;
  text-align: center;
  }
  
.lower-container h3, h4{
  box-sizing: border-box;
  line-height: .6;
  font-weight: lighter;
  }
  
.lower-container h4{
  color: #444;
  opacity: .6;
  font-weight: bold;
  z-index: 12;
  }

.lower-container p{
  font-size: 16px;
  color: #444;
  margin-bottom: 30px;
  }
  
.lower-container .btn{
  padding: 12px 20px;
  background: #FF6600;
  border: none;
  color: white;
  border-radius: 30px;
  font-size: 12px;
  text-decoration: none;
  font-weight: bold;
  transition: all .3s ease-in;
  }
  
.lower-container .btn:hover{
  background: transparent;
  color: #FF6600;
  border: 2px solid #FF6600;
  }
  